/* Css reset Code Start*/
*{
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}
/* Css reset Code End*/

.fiverr{
    gap: 10px;
}

.fiverr .my-3{
    flex: 1;
}

.counter h1{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}


